<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <!-- App Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_cerberus.png') }}">

    <!-- App title -->
    {% if title %}
    <title>{{ title }} - Cerberus</title>
    {% else %}
    <title>Welcome to Cerberus</title>
    {% endif %}

    <!-- App CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="static/css/core.css" rel="stylesheet" type="text/css" />
    <link href="static/css/components.css" rel="stylesheet" type="text/css" />
    <link href="static/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="static/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="static/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="static/css/responsive.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="static/js/modernizr.min.js"></script>

  </head>
  <body>
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="index.html" class="logo"><span>Cerber<span>us</span></span><i class="zmdi zmdi-layers"></i></a>
            </div>

            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">

                    <!-- Page title -->
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <button class="button-menu-mobile open-left">
                                <i class="zmdi zmdi-menu"></i>
                            </button>
                        </li>
                        <li>
                            <h4 class="page-title">    
                            {% if title %}
                            {{ title }}
                            {% endif %}
                            </h4>
                        </li>
                    </ul>

                </div><!-- end container -->
            </div><!-- end navbar -->
        </div>
        <!-- Top Bar End -->


        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <ul>
                      <li class="text-muted menu-title">Navigation</li>

                        <li>
                            <a href="/" class="waves-effect"><span> Dashboard </span> </a>
                        </li>

                        <li>
                            <a href="/staff" class="waves-effect"><span> Staff </span> </a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>

        </div>
        <!-- Left Sidebar End -->



        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">

                    <div class="row">
                      {% block content %}{% endblock %}
                    </div>
                    <!-- End row -->

                </div> <!-- container -->

            </div> <!-- content -->

        </div>
        <!-- End content-page -->

    </div>
    <!-- END wrapper -->



    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/detect.js"></script>
    <script src="static/js/fastclick.js"></script>
    <script src="static/js/jquery.slimscroll.js"></script>
    <script src="static/js/jquery.blockUI.js"></script>
    <script src="static/js/waves.js"></script>
    <script src="static/js/jquery.nicescroll.js"></script>
    <script src="static/js/jquery.scrollTo.min.js"></script>

    <!-- App js -->
    <script src="static/js/jquery.core.js"></script>
    <script src="static/js/jquery.app.js"></script>
    {% block script %}{% endblock %}

  </body>
</html>