{% extends "base.html" %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="css/pages/datatables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>
{% endblock %}
{% block content %}
	{% from "_formhelpers.html" import render_field %}
		<div class="row">
			<div class="col-sm-12">

				<div class="card-box table-responsive">
					<h4 class="header-title m-t-0 m-b-30">Current Staff</h4>

					<table id="datatable" class="table table-striped table-bordered">
					<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Role</th>
						<th>Slack</th>
						<th>Email</th>
					</tr>
					</thead>

					<tbody>
					</tbody>
					</table>
				</div>


				<div class="panel ">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Enter Staff
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal form-validation" role="form" method=post>
									  <dl>
									  		<input type="text" id="firstname" name="firstname" placeholder="Firstname">
									  		<input type="text" id="lastname" name="lastname" placeholder="Lastname">
									  		<select id="role" name="role">
									  			<option value="Staff">Staff</option>
									  			<option value="Bocalian">Bocalian</option>
									  			<option value="RA">RA</option>
									  		</select>
									  		<input type="text" id="slack" name="slack" placeholder="@slack">
									  		<input type="email" id="email" name="email" placeholder="email@42.us.org">
									  </dl>
								  <p><input type=submit value=Add></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

			</div><!-- end col -->
		</div>
{% endblock %}

{% block script %}
	<script type="text/javascript" src="static/vendors/datatables/js/jquery.dataTables.min.js"></script>
	<script>
		var table = $('#datatable').DataTable();
		{% for s in staff %}
			table.row.add(["{{s.firstname}}", "{{s.lastname}}", "{{s.role}}", "{{s.slack}}", "{{s.email}}"]).draw();
		{% endfor %}
	</script>
{% endblock %}